
body{
	background-color: black;
	position:absolute;
	width:100%;
	height:200%;
	padding:0px;
	margin:0px;}
/*texto clear*/
.o_left{float:left;}
a{text-decoration:none;}
li{list-style-type:none;padding:5px;margin:0px;}
.disabled {
    pointer-events:none; 
    opacity:0.6;
}
#logo{
	position: relative;
	left:30%;
	width: 20%;
	height: 100%;
}
/*texto style*/
h2{/*texto style==novel titulos h2*/
	margin:0;
	padding: 0;
	position:relative;
	top:80%;
	font-size:250%;
	color:rgb(183, 0, 255);}
.tv0{/*texto style==nav titulos*/
	color:black;
	text-align:center;
	font-family:'amita';
  font-size:110%}
.trap{color:rgba(0,0,0,0);
	cursor:pointer;
	overflow: hidden;

}
.trap:hover{color:white;}
.tv1{
	box-sizing: border-box;
	font-family:'amita';
	font-size:83%;
	text-align: center;
}
/*banner*/
.principal{
	/*forma*/
	position:absolute;
	width:99.9%;
	height:10%;
	/*posicion*/
	top:3%;	
	/*stylo*/
	background-color:rgb(165, 10, 165);
}

.pos_tex_nav{
	position: absolute;
	top:40%;
	left:50%;
	margin: 0;
	padding: 0px;
}
/*banner*/

/*contenido*/
.contenedor{
	display:inline-block;
	box-shadow:1px 1px 8px 1px #b005c7;
}
.v1{/*caja principal de contenido*/
	position:absolute;		/*posicionamiento absoluto para heredar area */
		/*de contenidido. */
	width:90%;				/*10 de spacio y 90 de contenido*/
	height:75%;				/*15% de nav y 84.8 de contenido*/
	top:20%;				/*posicion debajo de nav*/
	left:5%;				/*paresido a padding 5%left right 5%*/
}
.v2{					/*sub nivel de contenido adaptable*/
	position:relative;	/* contenido adaptable al flujo de datos:; ej absolute*/
	width:16%;			/*comprende la el tamano de su contendor padre*/
	height:26%;			/*sub nivel  de contenido adaptable*/
/*caja principal de contenido*/
	margin:3%;
	margin-left: 5%;
	margin-bottom:1%;
	border:black 1px solid;
	background-color:black;
}
.v3{					/*crea las dimenciones de info y de dowload
						{posicionamiento principal de dowloaod}
						position:absolute;/*position heredada relativa*/
	position: absolute;
	top:0;
	width:14%;		/*diseno deacuerdo a al tamano heredado del padre*/
	height:16%;		/*caja principal de contenido*/
	border:2px solid;/*caja principal de contenido*/
	background-color:rgba(174, 0, 255, 0.918);
	border-radius:0px 0px 100px 0px;

}
.v3:hover{
	z-index:1;
	width:100%;
	height:80%;
	transition:0.5s;
	background-color:rgba(162, 0, 255, 0.8);


}
/*..............................................................................*/

/*items visuales
	configurracion
*/

#icon{
	width:25px;
	height:25px;

}
.info{/*decripcion*/
	right:0%;/*hace aguste de la copia de v3*/
	border-radius:0px 0px 0px 100px;
}
img{
	position: absolute;/*hereda las dimenciones de su padre v2*/
	left:0;
	width: 100%;		/*ajuste*/
	height:80%;		/*ajuste*/
}

/*
		<div class=" contenedor v2">4
			<img src="../image/">				            <!--imgen-->
			<h2 class="tv1"></h2>	<!--titulo-->
			<div class="v3 trap tv1 info">
				<img id="icon" src="../recursos/g.png">
				 <!--descripcion-->
				<p>
					<br>
					
				</p>    
			</div>
			<div class="v3 tv1 trap">
				<img id="icon" src="../recursos/idow.png">
				<!--download-->
				<ul>
					<li><a onclick="window.open('../novelas/')">tomo</a></li>
					<li><a onclick="window.open('../novelas/')">tomo</a></li>
					<li><a onclick="window.open('../novelas/')">tomo</a></li>
					<li><a onclick="window.open('../novelas/')">tomo</a></li>
				</ul>
			</div>
		</div>
*/
@media only screen and (max-width:500px) and (min-width:100px){
	.v2{					/*sub nivel de contenido adaptable*/
		position:relative;	/* contenido adaptable al flujo de datos:; ej absolute*/
		width:85%;			/*comprende la el tamano de su contendor padre*/
		height:25%;			/*sub nivel  de contenido adaptable*/
		margin:3%;
		margin-bottom:6%;
		margin-left:9%; } 
	h2{
		top:80%;
	 }
	#icon{
		width: 25px;
		height: 30px;
		padding: 0%;margin: 0%;
	}
	.principal{
		height:5%;}
	.tv1{
		font-size: 100%;
	}
	.contenedor{
		box-shadow: none;
	}
}
@media only screen and (max-width:800px) and (min-width:500px){
	.v2{
		display:inline-flex;
		width:26%;
		height:20%;}
	.principal{
		height:5%;}
	#icon{
		width: 15px;
		height: 25px;
	}
	h2{
		top:85%;
	}
	.contenedor{
		box-shadow:1px 1px 4px 1px #ff0808;
	}
}